* {
  margin: 0;
  padding: 0;
}

#app {
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

html {
  background: rosybrown;
}

h1 {
  text-align: center;
}

#guess-section {
  width: 100%;
  margin: 50px 0;
}

#numbers {
  display: flex;
  flex-flow: column;
  font-size: 50px;
}

#numpad {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.num {
  flex-basis: 28%;
  text-align: center;
}

.round {
  width: 100%;
  padding-top: 100%;
  border: 1px solid white;
  border-radius: 100%;
  position: relative;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
  color: white;
}

.disabled {
  background: gainsboro;
  pointer-events: none;
}

body {
  padding: 50px;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  font-family: monospace;
}

li {
  list-style-type: none;
  font-size: 20px;
}
